<% if user_signed_in? %>
<%= render 'layouts/app_header' %>


<% else %>
 <p>  <%= link_to "Sign in", new_user_session_path %></p>
<% end %>
<br />
<div class = 'saved-searches'>
	Recent Searches
	<div class="nav-divider"></div>
	<div class = "saved-search-queries"><a href= "#">SRDs in New York</a></div>
	<div class = "saved-search-queries"><a href= "#">SRDs in Atlanta</a></div>
	<div class = "saved-search-queries"><a href= "#">Account Executives in LA</a></div>
	<div class = "saved-search-queries"><a href= "#">SRDs in New York</a></div>
</div>
<div class='box'>
	<h2>Generate Leads</h2>
	<div class="nav-divider"></div>

		<div class="form-group">

	    </div>
	
      <div class="form-group">
        
      </div>
</div>
