<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @spreadsheet.description %>
</p>

<%= link_to 'Edit', edit_spreadsheet_path(@spreadsheet) %> |
<%= link_to 'Back', spreadsheets_path %>
