<% if user_signed_in? %>
          <%else %>
<div class="login-container">
<img src="http://placehold.it/350x150" class="login-img">
</div>

<div class="bottom-link"><div class="signupnow">Don't have an account? <a href="#"><strong>Register today</strong></a>.</div></div>          
          <% end %>